.App {

}

li {
  list-style: none;

}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  
  
}

.li1 {
  color: black;
  margin: 10px;
  width: 27%;
  border: 1px solid;
  padding: 20px;
  height: max-content;
}

.li2 {
  margin-left: 10px;
  padding: 5px;
  background: #c9c9c9;
  margin: 4px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

p{
  font-size: 0.9rem;
}

input.date {
  display: block;
  width: max-content;
  margin-left: 10%;
  padding: 10px 20px;
   margin-right: 0px; 
  margin-top: 10px;
}

.name {
  margin-left: 5px;
}